@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
body{
	margin:0;
}

header {
	
}
header p{
	background-color: #ea602d;
	padding: 5px;
	margin:0;
	text-align: center;
	text-transform: capitalize;
	color:#fff;
	letter-spacing: 2px;
	font-size: 22px;
}

nav {

}
.menu {
	border-bottom: 1px solid #ea602d;
	margin-top: 15px;
}
.menu ul {
	margin: 0;
	padding: 0;
	text-align: center;	
}
.menu ul li {
	list-style-type: none;
	display: inline-block;
	padding: 20px 15px;
}
.menu ul li a {
	color:  #ea602d;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	padding: 5px 5px;
	border:1px dashed #ea602d;
	transition: .3s;
	transition-delay: .3s;
}



.menu ul li .active {
	background-color:#ea602d;
	color: #fff;
}

.menu ul li a:hover {
	color: #fff;
	background-color:#ea602d;

}
.banner {
	width: 80%;
	margin: auto;
	text-align: center;

}
.picture {
	
	margin-top: 30px;
}
.picture img {
	width:100%;
	height:auto;
	border-radius: 5px;
}
.banner h1 {
	color:#ea602d;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 2px;
	margin-top: 50px;

}
.banner p {
	margin-bottom: 50px;
    background-color: #f6f2f0d9;
    font-size: 18px;
    border-radius: 4px;
}
.banner p span i {
	display: inline-block;
	padding: 10px;
	background-color:#ea602d; 
	border-radius: 5px;
}